@mixin button-style {
  width: 100%;
  border: none;
  border-radius: $border-radius-size;
  cursor: pointer;
  padding: $size_1 $size_2;
  background-color: $primary-color;
  color: $text-color;
  &:hover {
    background-color: $active-color;
  }
}