$primary-color: #838282;
$secondary-color: #ebebeb;

$btn-color: #acacac;


$text-color: #333333;
$text-secondary: #ffffff;

$active-color: #636363;
$hover-color: #636363;
$accent-color: #0000ff;
$background-color: #f0f0f0;

$border-radius-size: 5px;

$size_1: 8px;
$size_2: 16px;